# macOS
.DS_Store
.AppleDouble
.LSOverride


# IDE
.vscode/
.idea/
*.iml

# Gradle
.gradle/
build/
bin/

# Spring Boot
HELP.md

# Frontend build output copied to backend
backend/src/main/resources/static/

# Logs
*.log
logs/

# Environment files
.env
.env.local
.env.*.local

# Frontend (Next.js)
node_modules/
.next/
out/

docs
docker-compose.yml