# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Spring Boot
target/
spring-shell.log

# Cucumber / Test Reports
**/target/cucumber-reports/
**/surefire-reports/

### Secrets ###
config/application-secrets.properties
!config/application-secrets.properties.example

# depx skill local cache
.depx/
